/* ADD.PHP */
      /* FORM HOLDER */
            .submit {
                  width: 10%;
                  background-color: #4CAF50;
                  color: white;
                  padding: 14px 20px;
                  margin: 8px 0;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
            }

            /* HEADERS HOLDER */
                  .headersholder-h1{
                        text-align: center;
                        font-weight: bold;
                        font-size: 2.5em;
                        font-family: 'Roboto', sans-serif;
                        padding: 40px;
                  }
            /* END HEADERS HOLDER */
            /* INPUTS */
                  .add input {
                        display: block;
                        margin-bottom: 20px;
                  }
                  .info{
                        resize: none;
                        width: 30%;
                        height: 250px;
                        display: block;
                  }
            /* END INPUTS */

      /* END FORM HOLDER */

/* END ADD.PHP */

/* ERRORS */
      #errors {
            display: inline-block;
            position: relative;
            bottom: 236px;
            left: 15px;
      }
      #errors > li {
            color: red;
            list-style: none;
            font-size: 20px;
            font-weight: bold;
      }

/* END ERRORS */

/* REIGSTER */
      /* ERRORS */
            #reerrors {
                  display: inline-block;
                  position: relative;
                  bottom: 236px;
                  left: 15px;
            }
            #reerrors > li {
                  color: red;
                  list-style: none;
                  font-size: 20px;
                  font-weight: bold;
            }
      /* END ERRORS */

/* END REGISTER */

/* SIGN OUT BUTTON */

/* END SIGN OUT BUTTON */