/* SECTION */
      .search-job {
            height: 200px;
            margin-top: 100px;
      }
      /* FORM */
            .form{
                  position: relative;
                  top: 83px;
            }
      /* END FORM */

/* END SECTION */

/* WORKS SECTION */
            /* WORKS HEADINGS */
                  .works-headings{
                        display: flex;
                        justify-content: space-around;
                        padding: 15px 20px;
                        background-color: #4CAF50;
                        border-radius: 6px 6px 0px 0px;
                        width: 95%;
                  }
                  .works-headings > h3{
                        color: white;
                        font-size: 17px;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        width: 100%;
                  }
            /* END WORKS HEADINGS */
            
            /* WORK VACANCIES */
                  .works-vacancies{
                        display: flex;
                        justify-content: space-around;
                        padding: 15px 19px;
                        width: 95%;
                        border: 1px solid #ddd;
                  }
                  .works-vacancies > h3{
                        font-size: 17px;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        color: black;     
                        width: 100%;
                  }
                  
                 .works-a{
                        text-decoration: none !important;
                        background-color: grey;
                  }
                  

            /* END WORK VACANCIES */
/* END WORKS SECTION */